<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <title>Website</title>
  </head>
  <body>
    {% include 'partials/header.njk' %}
    {% include 'partials/footer.njk' %}
  </body>
</html>