<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <title>Website</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% include 'partials/header.njk' %}
    <p>đây là đoạn văn<p>
    {% include 'partials/footer.njk' %}   
  </body>
  <script src="/js/main.js"></script>
</html>