<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <title>Website</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Template</h1>
    <a href="/home.html">Home</a><br>
  </body>
  <script src="/js/main.js"></script>
</html>