<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <title>Website</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
  <h1>Header của website</h1>
</header>
    
      <div class="item">Item 1</div>
    
      <div class="item">Item 2</div>
    
      <div class="item">Item 3</div>
    
      <div class="item">Item 4</div>
    
      <div class="item">Item 5</div>
    
      <div class="item">Item 6</div>
    
    <Footer>
    <h1>Foorter của website</h1>
</Footer>
  </body>
  <script src="/js/main.js"></script>
</html>